In [1]:
My_tuple = (3, 5, 7, 8)

In [3]:
My_dictionary = {'name': 'Bob', 'age': 30, 'occupation': 'Farmer'}

In [4]:
My_dictionary['name']

'Bob'

Perhaps he needs to update his name to his full name

In [5]:
My_dictionary['name'] = 'Robert'

In [6]:
print(My_dictionary)

{'name': 'Robert', 'age': 30, 'occupation': 'Farmer'}

In [7]:
My_dictionary['occupation'] = 'Banker'

In [8]:
print(My_dictionary)

{'name': 'Robert', 'age': 30, 'occupation': 'Banker'}

In [10]:
My_list =  [2, 7.9, 3, 'sdfsdf',1.67]

In [14]:
My_list[1:4]

[7.9, 3, 'sdfsdf']

In [16]:
My_list[4]

1.67

In [18]:
for blah in My_list:
    print(blah)

2
7.9
3
sdfsdf
1.67

In [19]:
for i in My_list:
    print(i)

2
7.9
3
sdfsdf
1.67

In [31]:
for i in range(7,11):
    print(i)

7
8
9
10

In [34]:
for i in range(4):
    print(i)

0
1
2
3

In [33]:
for i in range(5):
    print(My_list[i])

2
7.9
3
sdfsdf
1.67

In [36]:
My_set = {1,  2, 3, 'dsfsdf', 3.6}

In [39]:
My_set[0]

TypeError: 'set' object is not subscriptable

In [40]:
len(My_set)

5

In [41]:
My_set.add('happy')

In [42]:
print(My_set)

{1, 2, 3, 3.6, 'happy', 'dsfsdf'}

In [43]:
My_set.add('aaa')

In [44]:
print(My_set)

{1, 2, 3, 3.6, 'aaa', 'happy', 'dsfsdf'}

In [45]:
My_set.add('zzz')

In [46]:
print(My_set)

{1, 2, 3, 3.6, 'aaa', 'zzz', 'happy', 'dsfsdf'}

In [47]:
My_set.add('zz')

In [48]:
print(My_set)

{1, 2, 3, 3.6, 'happy', 'zz', 'aaa', 'dsfsdf', 'zzz'}

In [53]:
New_set = {1,2,2,1000,1000}

In [54]:
My_set.union(New_set)

{1, 1000, 2, 3, 3.6, 'aaa', 'dsfsdf', 'happy', 'zz', 'zzz'}

In [55]:
My_set.intersection(New_set)

{1, 2}

In [56]:
My_set.difference(New_set)

{3, 3.6, 'aaa', 'dsfsdf', 'happy', 'zz', 'zzz'}

In [57]:
some_string = 'sdfsadfsadfsdfsdfsdf'

In [58]:
some_string[5:10]

'dfsad'

In [61]:
counter = 0

while counter <= 4:
    print(some_string[counter:5])
    print(counter)
    counter = counter + 1

sdfsa
0
dfsa
1
fsa
2
sa
3
a
4

In [64]:
if len(some_string) < 20:
    print('small')
elif len(some_string) < 30:
    print('medium')
else:
    print('large')

medium

20