In [2]:
My_tuple = (3, 5, 7, 8)

In [3]:
len(My_tuple)

4

In [5]:
My_tuple[1]

5

In [6]:
My_tuple[3]

8

In [7]:
My_tuple[4]

IndexError: tuple index out of range

In [9]:
My_tuple.count(8)

1

In [12]:
new_tuple = (0,0,1,3,3,3,7)

In [15]:
new_tuple.count(3)

3

In [16]:
My_dictionary = {'name': 'Bob', 'age': 30, 'occupation': 'Farmer'}

In [17]:
My_dictionary['name']

'Bob'

Perhaps he needs to update his name to his full name

In [18]:
My_dictionary['name'] = 'Robert'

In [19]:
print(My_dictionary)

{'name': 'Robert', 'age': 30, 'occupation': 'Farmer'}

In [20]:
My_dictionary['occupation'] = 'Banker'

In [21]:
print(My_dictionary)

{'name': 'Robert', 'age': 30, 'occupation': 'Banker'}

In [22]:
My_dictionary['occupation']

'Banker'

In [23]:
len(My_dictionary)

3

In [24]:
my_data_dictionary = { 'height':[187,170,179,190],
                       'weight': [160, 150, 160, 190],
                      'name': ['Amy', 'John', 'derek', 'George']
                     }

In [27]:
my_data_dictionary['weight']

[160, 150, 160, 190]

In [28]:


My_list =  [2, 7.9, 3, 'sdfsdf',1.67]

In [33]:
My_list.index(7.9)

1

In [16]:
My_list[4]

1.67

In [36]:
for fdgs in My_list:
    print(fdgs)

2
7.9
3
sdfsdf
1.67

In [37]:
for i in My_list:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'float'>

In [40]:
for i in range(3,7):
    print(i)

3
4
5
6

In [34]:
for i in range(4):
    print(i)

0
1
2
3

In [41]:
for i in range(5):
    print(My_list[i])

2
7.9
3
sdfsdf
1.67

In [42]:
My_set = {1,  2, 3, 'dsfsdf', 3.6}

In [44]:
My_set[3]

TypeError: 'set' object is not subscriptable

In [45]:
len(My_set)

5

In [46]:
My_set.add('happy')

In [47]:
print(My_set)

{1, 2, 3, 3.6, 'happy', 'dsfsdf'}

In [48]:
My_set.add('aaa')

In [49]:
print(My_set)

{1, 2, 3, 3.6, 'happy', 'aaa', 'dsfsdf'}

In [50]:
My_set.add('zzz')

In [51]:
print(My_set)

{1, 2, 3, 3.6, 'happy', 'aaa', 'zzz', 'dsfsdf'}

In [52]:
My_set.add('zz')

In [53]:
print(My_set)

{1, 2, 3, 3.6, 'zz', 'aaa', 'zzz', 'happy', 'dsfsdf'}

In [54]:
My_set.add('nn')

In [55]:
print(My_set)

{1, 2, 3, 3.6, 'zz', 'aaa', 'zzz', 'nn', 'happy', 'dsfsdf'}

In [57]:


New_set = {1,2,2,1000,1000}

In [58]:
My_set.union(New_set)

{1, 1000, 2, 3, 3.6, 'aaa', 'dsfsdf', 'happy', 'nn', 'zz', 'zzz'}

In [59]:
My_set.intersection(New_set)

{1, 2}

In [60]:
My_set.difference(New_set)

{3, 3.6, 'aaa', 'dsfsdf', 'happy', 'nn', 'zz', 'zzz'}

In [61]:
some_string = 'sdfsadfsadfsdfsdfsdf'

In [63]:
some_string[5:10]

'dfsad'

In [65]:
counter = 0

while counter <= 4:
    print(some_string[counter:5])
    counter = counter + 1

sdfsa
dfsa
fsa
sa
a

In [66]:
counter = 0
while counter < 4:
    print(counter)
    counter += 1

0
1
2
3

In [67]:
if len(some_string) < 20:
    print('small')
elif len(some_string) < 30:
    print('medium')
else:
    print('large')

medium

In [68]:
len(some_string)

20